@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  color: #eef;
}

/*
 * Global
 */
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #392613;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #392613;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #666;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #666;
  line-height: 16px;
  float: right;

}

p {
  color: #392613;
  line-height: 21px;
  text-align: justify;
}

em {
  color: #392613;
}

a {
  color: #00b4dc;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  padding: 10px 0;
}

.yellow {
  background-color: rgba(255, 210, 0, 0.65);
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.footer-blue {
  background-color: rgba(0, 255, 210, 0.65);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4a4a4a;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

#footerContacts {
  min-height: 10vh;
  align-items: center;
}

#footerContacts .light-brown-text {
  color: #ffd200;
}

#footerContacts .brown-text {
  color: #fff8d8;
}


/*
 * Header
 */
#header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/background-medium.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#header {
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 100vh;
}

#name {
  font-family: 'Poiret One', cursive;
  color: #00d2ff;
  display: block;
}

.sub-title {
  color: #ffd200;
  padding: 0;
}

hr {
  display: none;
}

#topContacts {
  background-color: rgba(0, 210, 255, 0.55);
  margin: 30px 0 0;
  border-radius: 7px 7px 0 0;
}

.light-brown-text {
  color: #996633;
}

.white-text {
  color: #ebfbff;
}

.brown-text {
  color: #392613;
}

.micro-summary {
  background-color: rgba(96, 64, 32, 0.75);
  text-align: justify;
  padding: 1em;
}

.welcome-message {
  font-size: 18px;
  color: #ebfbff;
  line-height: 28px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

#skillsH3 {
  background-color: rgba(255, 210, 0, 0.55);
  color: #392613;
  display: none;

}

#skills {
  background-color: rgba(255, 210, 0, 0.55);
  border-radius: 0 0 7px 7px;
}

#skills span {
  color: #392613;
}


/*
 * Work Experience
 */
#workExperience {
  min-height: 50vh;
  padding: 20px 0;
}


/*
 * Projects
 */
#projects {
  min-height: 50vh;
  padding: 20px 0;
  background-color: rgba(96, 64, 32, 0.95);
}

#projects h2 {
  color: #f3f3f3;
}

#projects .date-text {
  color: #999;
}

.project-entry p {
  color: #f3f3f3;
}


/*
 * Education
 */
#education {
  min-height: 50vh;
  padding: 20px 0;
}


/*
 * Map
 */
#map {
  display: block;
  height: 85%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 210, 255, 0.55);
}


/*
 * Media queries
 */
@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }

  #topContacts {
    display: block;
    margin: 10px 0 0;
    min-height: 20vh;
  }

  .micro-summary {
    display: none;
  }

  #skills {
    display: block;
    min-height: 48vh;
    text-align: right;
  }

  h3 {
    padding-top: 30px;
  }

  #workExperience,
  #projects,
  #education,
  #mapDiv {
    min-height: 100vh;
  }

  #footerContacts {
    display: block;
    text-align: right;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }

  #header:before {
    background-image: url("../images/background-large.jpg");
  }

  #header {
    background-color: rgba(255, 255, 255, 0.35);
  }

  #name {
    font-size: 55px;
    line-height: normal;
  }

  .sub-title {
    font-size: 26px;
  }
}
